﻿<style>
    #modallookupobat .table td,
    #modallookupobat .table th {
        white-space: nowrap;
    }
</style>

<div id="modallookupobat" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Obat</h4>
            </div>
            <form id="lookupobat">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom: 20px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" data-itable-filter="All" class="form-control">
                            </div>
                            <div class="form-group" style="width:150px;">
                                <select data-itable-filter="Kategori" onchange="itablelookupobat.refresh()">
                                    <option value="">All</option>
                                    @Html.Raw(Admin.Helper.HList.Vendor_KomisiObat_Kategori);
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" onchange="itablelookupobat.refresh()" style="width: auto;">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Barang">ID<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Kategori">Kategori<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupobat.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupobat;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupobat = new iTable({
            url: '@Url.Action("ListLookupObat")',
            table: document.getElementById('lookupobat'),
            orderby: 'Kode_Barang',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append(`<tr><td colspan="${$(itablelookupobat.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`);
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupobat.active(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.Kategori + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupobat').on('shown.bs.modal', function (e) {
             $('#modallookupobat [data-itable-filter="All"]').focus();
        });

        itablelookupobat.active = (t) => {
            $(t).toggleClass('bg-primary');
        };

        $(itablelookupobat.table).find('[data-itable-filter="Kategori"]').select2();

        $('#modallookupobat').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        itablelookupobat.openmodal = () => {
            itablelookupobat.pageindex = 0;
            itablelookupobat.refresh();
            $('#modallookupobat').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupobat').css('z-index') - 1);
        };

        itablelookupobat.selected = async (t) => {
            const detail = $(t).closest('.modal').find('table tbody tr.bg-primary');
            for (var i = 0; i < detail.length; i++) {
                var model = JSON.parse($(detail[i]).data('model'));
                isetup.adddetailbody_Obat(
                    model.Id,
                    model.Kode,
                    model.Nama
                );
            }
            $(t).closest('.modal').modal('hide');
        };
    });
</script>