﻿@using Admin.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Komisi Obat</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Kode" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Nama" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <textarea type="text" name="Alamat" class="form-control all-readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Mulai THT</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="TglMulaiTHTChecked" onchange="isetup.checkboxonhange(this, 'TglMulaiTHT')" />
                                            </div>
                                            <input type="date" name="TglMulaiTHT" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="SelesaiTHT" />
                                            Selesai THT
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TglSelesaiTHT</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="TglSelesaiTHTChecked" onchange="isetup.checkboxonhange(this, 'TglSelesaiTHT')" />
                                            </div>
                                            <input type="date" name="TglSelesaiTHT" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#TipePasien" aria-controls="home" role="tab" data-toggle="tab">Tipe Pasien</a></li>
                                <li role="presentation"><a href="#Obat" aria-controls="profile" role="tab" data-toggle="tab">Obat</a></li>
                                <li role="presentation"><a href="#THTDokter" aria-controls="messages" role="tab" data-toggle="tab">THT Dokter</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="TipePasien">
                                    <div class="table-responsive">
                                        <table class="table table-bordered input-detail detail-TipePasien">
                                            <thead>
                                                <tr>
                                                    <td style="width:50px;" class="text-center view-hide">
                                                        <a class="view-hide" onclick="isetup.adddetailbody_TipePasien('',0)"><i class="icon icon-plus2"></i></a>
                                                    </td>
                                                    <td>Tipe Pasien</td>
                                                    <td class="text-right" style="width:150px;">Komisi %</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Obat">
                                    <div class="table-responsive">
                                        <table class="table table-bordered input-detail detail-Obat">
                                            <thead>
                                                <tr>
                                                    <td style="width:50px;" class="text-center view-hide">
                                                        <a class="view-hide" onclick="itablelookupobat.openmodal()"><i class="icon icon-plus2"></i></a>
                                                    </td>
                                                    <td style="width:100px;">Kode</td>
                                                    <td>Deskripsi</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="THTDokter">
                                    <div class="table-responsive">
                                        <table class="table table-bordered input-detail detail-THTDokter">
                                            <thead>
                                                <tr>
                                                    <td style="width:50px;" class="text-center view-hide">
                                                        <a class="view-hide" onclick="isetup.adddetailbody_THTDokter('',0)"><i class="icon icon-plus2"></i></a>
                                                    </td>
                                                    <td>Tipe Pasien</td>
                                                    <td class="text-right" style="width:150px;">THT %</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Kode'].value = r.Data.Kode;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['TglMulaiTHT'].value = r.Data.TglMulaiTHT;
                    t['SelesaiTHT'].checked = r.Data.SelesaiTHT;
                    t['TglSelesaiTHT'].value = r.Data.TglSelesaiTHT;
                    t['TglMulaiTHTChecked'].checked = r.Data.TglSelesaiTHT ? true : false;
                    t['TglSelesaiTHTChecked'].checked = r.Data.TglSelesaiTHT ? true : false;

                    //// detail
                    $(t).find('.detail-TipePasien tbody').html('');
                    $.each(r.DetailTipePasien, function (index, value) {
                        isetup.adddetailbody_TipePasien(
                            value.Id,
                            value.Komisi
                        );
                    });
                    $(t).find('.detail-Obat tbody').html('');
                    $.each(r.DetailObat, function (index, value) {
                        isetup.adddetailbody_Obat(
                            value.Id,
                            value.Kode,
                            value.Nama
                        );
                    });
                    $(t).find('.detail-THTDokter tbody').html('');
                    $.each(r.DetailTHTDokter, function (index, value) {
                        isetup.adddetailbody_THTDokter(
                            value.Id,
                            value.THT
                        );
                    });

                    isetup.init();

                    isetup.checkboxonhange(isetup.form['TglMulaiTHTChecked'], 'TglMulaiTHT');
                    isetup.checkboxonhange(isetup.form['TglSelesaiTHTChecked'], 'TglSelesaiTHT');

                    isetup.modal.modal({ backdrop: 'static' });
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: isetup.form['Id'].value,
                        TglMulaiTHT: isetup.form['TglMulaiTHT'].value,
                        SelesaiTHT: isetup.form['SelesaiTHT'].checked,
                        TglSelesaiTHT: isetup.form['TglSelesaiTHT'].value,

                        DetailTipePasien: $.map($(t).find('.detail-TipePasien tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                                Komisi: $(value).find('.Komisi').val()
                            }
                        }),
                        DetailObat: $.map($(t).find('.detail-Obat tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                            }
                        }),
                        DetailTHTDokter: $.map($(t).find('.detail-THTDokter tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                                THT: $(value).find('.THT').val()
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.checkboxonhange = (t, target) => {
            if (t.checked)
                $(isetup.form[target]).removeAttr('disabled');
            else {
                $(isetup.form[target]).attr('disabled', 'disabled');
                isetup.form[target].value = '';
            }
        };
        isetup.detailtipepasienontions = '@Html.Raw(HList.Vendor_KomisiObat_TipePasien)';
        isetup.detailthtdokterontions = isetup.detailtipepasienontions;

        isetup.adddetailbody_TipePasien = (id, komisi) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="removedetail(this)" class="text-danger"><i class="icon-trash"></i></a>`;
            _detail += '</td>';

            // input
            _detail += `<td><select class='Id'>${isetup.detailtipepasienontions}</select></td>`;
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Komisi" step="any" min="0" value="' + komisi + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detail-TipePasien tbody').append(_detail);
            $(isetup.form).find('.detail-TipePasien tbody tr:last .Id').val(id);
            $(isetup.form).find('.detail-TipePasien tbody tr:last .Id').select2();
        };

        isetup.adddetailbody_Obat = (id, kode, nama) => {
            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="removedetail(this)" class="text-danger"><i class="icon-trash"></i></a>`;
            _detail += '</td>';

            // input
            _detail += `<td class="td-text">${kode}</select></td>`;
            _detail += `<td class="td-text">${nama}</select></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detail-Obat tbody').append(_detail);
            $(isetup.form).find('.detail-Obat tbody tr:last .Id').val(id);
            $(isetup.form).find('.detail-Obat tbody tr:last .Id').select2();
        };

        isetup.adddetailbody_THTDokter = (id, tht) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="removedetail(this)" class="text-danger"><i class="icon-trash"></i></a>`;
            _detail += '</td>';

            // input
            _detail += `<td><select class='Id'>${isetup.detailtipepasienontions}</select></td>`;
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right THT" step="any" min="0" value="' + tht + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detail-THTDokter tbody').append(_detail);
            $(isetup.form).find('.detail-THTDokter tbody tr:last .Id').val(id);
            $(isetup.form).find('.detail-THTDokter tbody tr:last .Id').select2();
        };
    });
</script>