﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kategori Vendor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kode</label>
                            <div class="col-md-10">
                                <input type="text" required name="Kode_Kategori" class="form-control  all-readonly" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama</label>
                            <div class="col-md-10">
                                <input type="text" required name="Kategori_Name" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">No Rek</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" name="Akun_No" class="form-control all-readonly" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookuprekening.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default view-disabled" onclick="itablelookuprekening.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <input type="text" required name="Akun_Name" class="form-control all-readonly" maxlength="100" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // detail value
                    t['Kode_Kategori'].value = r.Data.Kode_Kategori;
                    t['Kategori_Name'].value = r.Data.Kategori_Name;
                    t['Akun_No'].value = r.Data.Akun_No;
                    t['Akun_Name'].value = r.Data.Akun_Name;
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Kode_Kategori: t['Kode_Kategori'].value,
                        Kategori_Name: t['Kategori_Name'].value,
                        Akun_No: t['Akun_No'].value,
                        Akun_Name: t['Akun_Name'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="Kode_Kategori"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
                $(t['Kode_Kategori']).attr("placeholder", "(auto)");
            }
        });
    });
</script>