﻿<style>
    #modallookupjasa .table td,
    #modallookupjasa .table th {
        white-space: nowrap;
    }
</style>

<div id="modallookupjasa" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jasa</h4>
            </div>
            <form id="lookupjasa">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <div class="dataTables_filter">
                            <label>
                                <span>Filter:</span>
                                <input type="search" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </label>
                        </div>
                        <div class="hide">
                            <label>
                                <span>Show:</span>
                                <select class="form-control itable-pagesize" style="width: auto;">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="JasaID">ID<i></i></th>
                                    <th class="sorting" data-itable-sorting="JasaName">Nama<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupjasa.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupjasa;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupjasa = new iTable({
            url: '@Url.Action("ListLookupJasa")',
            table: document.getElementById('lookupjasa'),
            orderby: 'JasaID',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append(`<tr><td colspan="${$(itablelookupjasa.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`);
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupjasa.active(this)">';

                        // column
                        tbody += '<td>' + value.Id + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupjasa').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
        $('#modallookupjasa').on('shown.bs.modal', function (e) {
             $('#modallookupjasa [data-itable-filter="All"]').focus();
        });

        itablelookupjasa.active = (t) => {
            $(t).toggleClass('bg-primary');
        }

        itablelookupjasa.openmodal = () => {
            itablelookupjasa.pageindex = 0;
            itablelookupjasa.refresh();
            $('#modallookupjasa').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupjasa').css('z-index') - 1);
        }

        itablelookupjasa.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));
                isetup.adddetailbody(
                    model.Id,
                    model.Nama,
                );
            });
            $(t).closest('.modal').modal('hide');
        }
    });
</script>