﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Jasa Tidak Honor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">ID Jasa</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" name="JasaID" class="form-control all-readonly" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupjasa.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default view-disabled" onclick="itablelookupjasa.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <input type="text" required name="JasaName" class="form-control all-readonly" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <input type="checkbox" name="Opt" />
                                Optional
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tipe Honor</label>
                            <div class="col-md-8">
                                <select required name="TipeHonor" class="form-control create-clear" maxlength="100">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tipe Pasien</label>
                            <div class="col-md-8">
                                <select required name="TipePasien" class="form-control create-clear" maxlength="100">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['JasaID'].value = r.Data.JasaID;
                    t['JasaName'].value = r.Data.JasaName;
                    t['Opt'].value = r.Data.Opt;
                    t['TipeHonor'].value = r.Data.TipeHonor;
                    t['TipePasien'].value = r.Data.TipePasien;


                    //get selection or lookup
                    if (r.Data.TipeHonor) {
                        const option = new Option(r.Data.TipeHonor, r.Data.TipeHonor, true, true);
                        $(t['TipeHonor']).append(option).trigger('change');
                    } if (r.Data.TipePasien) {
                        const option = new Option(r.Data.TipePasien, r.Data.TipePasien, true, true);
                        $(t['TipePasien']).append(option).trigger('change');
                    }

                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        JasaID: t['JasaID'].value,
                        JasaName: t['JasaID'].value,
                        Opt: t['Opt'].value,
                        TipeHonor: t['TipeHonor'].value,
                        TipePasien: t['TipePasien'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="JasaID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });


        //lookuphelper
        
        $(isetup.form['TipeHonor']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_GetTipeHonorJasaTidakHonor", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
         });
        $(isetup.form['TipePasien']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_ListJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });



        //$(isetup.form['AkunNoMA']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});


    });
</script>

@Html.Partial("_LookUpJasa")