﻿@using Admin.Helper
<div id="modalsetupduplicate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Duplicate Vendor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Supplier_ID" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode Vendor</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Kode_Supplier" placeholder="Auto" class="form-control all-readonly"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Vendor</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Nama_Supplier" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <textarea required name="Alamat" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="No_Telepon" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kategori</label>
                                    <div class="col-md-9">
                                        <select id="KategoriID" name="KategoriID" class="form-control">@Html.Raw(HList.KategoriVendor)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Spesialis</label>
                                    <div class="col-md-9">
                                        <select id="SpesialisID" name="SpesialisID" onchange="changesubspespesialis()" class="form-control">@Html.Raw(HList.SpesialisVendor)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Spesialis</label>
                                    <div class="col-md-9">
                                        <select id="SubSpesialisID" name="SubSpesialisID" class="form-control">@Html.Raw(HList.SubSpesialisVendor)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Lahir</label>
                                    <div class="col-md-9">
                                        <input type="date" name="TglLahir" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Password" class="form-control" />
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-md-3 col-md-offset-3">
                                        <input type="checkbox" name="DokterTetap" />
                                        Tetap
                                    </label>
                                    <label class="col-md-3">
                                        <input type="checkbox" name="KonsultanSHHC" />
                                        Konsultan SHHC
                                    </label>
                                </div>*@
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">ID Personal</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="text" name="PersonalID" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="itablelookuppersonal.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default view-disabled" onclick="itablelookuppersonal.clear()"><i class="icon-eraser2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="PersonalName" class="form-control all-readonly" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NPWP</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NPWP" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">Pembayaran Hutang Dengan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="PembayaranHutang" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kelompok Honor</label>
                                    <div class="col-md-9">
                                        <input type="text" name="KelompokHonor" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Honor Default</label>
                                    <div class="col-md-3">
                                        <input type="text" name="HonorDefault" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">THT</label>
                                    <div class="col-md-4">
                                        <input type="text" name="THT" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Pajak</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Pajak" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">Komisi Obat</label>
                                    <div class="col-md-4">
                                        <input type="text" name="KomisiObat" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saldo Awal</label>
                                    <div class="col-md-3">
                                        <input type="text" name="SaldoAwal" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" name="TglSaldoAwal" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">User ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name="UserID" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <input type="checkbox" name="Aktif" />
                                        Aktif
                                    </label>
                                    <label class="col-md-2 control-label">
                                        <input type="checkbox" name="DokterTetap" />
                                        Tetap
                                    </label>
                                    <label class="col-md-3 control-label">
                                        <input type="checkbox" name="KonsultanSHHC" />
                                        Konsultan SHHC
                                    </label>
                                    <label class="col-md-4 control-label">
                                        <input type="checkbox" name="HonorSudahTermasukPajak" />
                                        Honor Sudah Termasuk Pajak
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#keluargavendor" aria-controls="home" role="tab" data-toggle="tab">Keluarga Vendor</a></li>
                                <li role="presentation"><a href="#hobby" aria-controls="profile" role="tab" data-toggle="tab">Hobby</a></li>
                                <li role="presentation"><a href="#identitas" aria-controls="profile" role="tab" data-toggle="tab">Identitas</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="keluargavendor" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailKeluarga">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetupduplicate.adddetailbodyKeluarga('','','','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Nama</td>
                                                            <td style="width:100px;">Gender</td>
                                                            <td style="width:100px;">Hubungan</td>
                                                            <td style="width:100px;">Tgl Lahir</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="hobby" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailHobby">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetupduplicate.adddetailbodyHobby('','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Hobby</td>
                                                            <td style="width:300px;">Keterangan</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="identitas" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">No KTP</label>
                                        <div class="col-md-4">
                                            <input type="text" name="NoKTP" class="form-control" />
                                        </div>
                                        <label class="col-md-2 control-label">Berlaku s.d</label>
                                        <div class="col-md-3">
                                            <input type="date" name="TglBerlakuKTP" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Jenis Ijin</label>
                                        <div class="col-md-4">
                                            <input type="text" name="JenisIjin" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Nomor Ijin</label>
                                        <div class="col-md-4">
                                            <input type="text" name="NomorIjin" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Tgl Terbit</label>
                                        <div class="col-md-4">
                                            <input type="date" name="TglTerbitIjin" class="form-control" />
                                        </div>
                                        <label class="col-md-2 control-label">Berlaku s.d</label>
                                        <div class="col-md-3">
                                            <input type="date" name="TglBerlakuIjin" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    var isetupduplicate;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetupduplicate = new iSetup({
            modal: 'modalsetupduplicate',
            urldetail: '@Url.Action("DetailDuplicate")',
            urlsave: '@Url.Action("SaveDuplicate", "VendorVendor")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetupduplicate.form;

                    // detail value
                    t['Kode_Supplier'].value = '';
                    t['Supplier_ID'].value = '';
                    t['Nama_Supplier'].value = '';
                    t['Alamat'].value = '';
                    t['No_Telepon'].value = '';
                    t['TglLahir'].value = r.Data.TglLahir;
                    t['Password'].value = r.Data.Password;
                    t['DokterTetap'].checked = r.Data.DokterTetap;
                    t['KonsultanSHHC'].checked = r.Data.KonsultanSHHC;
                    t['PersonalID'].value = r.Data.PersonalID;
                    t['NPWP'].value = r.Data.NPWP;
                    t['PembayaranHutang'].value = r.Data.PembayaranHutang;
                    t['KelompokHonor'].value = r.Data.KelompokHonor;
                    t['HonorDefault'].value = r.Data.HonorDefault;
                    t['THT'].value = r.Data.THT;
                    t['Pajak'].value = r.Data.Pajak;
                    t['KomisiObat'].value = r.Data.KomisiObat;
                    t['SaldoAwal'].value = r.Data.SaldoAwal;
                    t['TglSaldoAwal'].value = r.Data.TglSaldoAwal;
                    t['UserID'].value = r.Data.UserID;
                    t['Aktif'].checked = r.Data.Aktif;
                    t['HonorSudahTermasukPajak'].checked = r.Data.HonorSudahTermasukPajak;
                    t['NoKTP'].value = r.Data.NoKTP;
                    t['TglBerlakuKTP'].value = r.Data.TglBerlakuKTP;
                    t['JenisIjin'].value = r.Data.JenisIjin;
                    t['NomorIjin'].value = r.Data.NomorIjin;
                    t['TglTerbitIjin'].value = r.Data.TglTerbitIjin;
                    t['TglBerlakuIjin'].value = r.Data.TglBerlakuIjin;

                    if (r.Data.KategoriID) {
                        const option = new Option(`${r.Data.Kategori_Name}`, r.Data.KategoriID, true, true);
                        $(t['KategoriID']).append(option);
                    }

                    if (r.Data.SpesialisID) {
                        const option = new Option(`${r.Data.SpesialisName}`, r.Data.SpesialisID, true, true);
                        $(t['SpesialisID']).append(option);
                    }

                    if (r.Data.SubSpesialisID) {
                        const option = new Option(`${r.Data.SubSpesialisName}`, r.Data.SubSpesialisID, true, true);
                        $(t['SubSpesialisID']).append(option);
                    }


                    // detail
                    $(t).find('.detailKeluarga tbody').html('');
                    $(t).find('.detailHobby tbody').html('');
                    $.each(r.DetailKeluarga, function (index, value) {
                        isetupduplicate.adddetailbodyKeluarga(
                            value.Nama,
                            value.Gender,
                            value.Hubungan,
                            value.TglLahir
                        );
                    });
                    $.each(r.DetailHobby, function (index, value) {
                        isetupduplicate.adddetailbodyHobby(
                            value.Hobby,
                            value.Keterangan
                        );
                    });
                    isetupduplicate.init();
                    isetupduplicate.modal.modal({ backdrop: 'static' });
                   
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetupduplicate.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param
                        Kode_Supplier: t['Kode_Supplier'].value,
                        Supplier_ID: t['Supplier_ID'].value,
                        Nama_Supplier: t['Nama_Supplier'].value,
                        Alamat: t['Alamat'].value,
                        No_Telepon: t['No_Telepon'].value,
                        KategoriID: t['KategoriID'].value,
                        SpesialisID: t['SpesialisID'].value,
                        TglLahir: t['TglLahir'].value,
                        SubSpesialisID: t['SubSpesialisID'].value,
                        Password: t['Password'].value,
                        DokterTetap: t['DokterTetap'].checked,
                        KonsultanSHHC: t['KonsultanSHHC'].checked,
                        PersonalID: t['PersonalID'].value,
                        NPWP: t['NPWP'].value,
                        PembayaranHutang: t['PembayaranHutang'].value,
                        KelompokHonor: t['KelompokHonor'].value,
                        HonorDefault: t['HonorDefault'].value,
                        THT: t['THT'].value,
                        Pajak: t['Pajak'].value,
                        KomisiObat: t['KomisiObat'].value,
                        SaldoAwal: t['SaldoAwal'].value,
                        TglSaldoAwal: t['TglSaldoAwal'].value,
                        UserID: t['UserID'].value,
                        Aktif: t['Aktif'].checked,
                        HonorSudahTermasukPajak: t['HonorSudahTermasukPajak'].checked,
                        NoKTP: t['NoKTP'].value,
                        TglBerlakuKTP: t['TglBerlakuKTP'].value,
                        JenisIjin: t['JenisIjin'].value,
                        NomorIjin: t['NomorIjin'].value,
                        TglTerbitIjin: t['TglTerbitIjin'].value,
                        TglBerlakuIjin: t['TglBerlakuIjin'].value,

                        DetailKeluarga: $.map($(t).find('.detailKeluarga tbody tr'), function (value) {
                            return {
                                Nama: $(value).find('.Nama').val(),
                                Gender: $(value).find('.Gender').val(),
                                Hubungan: $(value).find('.Hubungan').val(),
                                TglLahir: $(value).find('.TglLahir').val(),
                            }
                        }),
                        DetailHobby: $.map($(t).find('.detailHobby tbody tr'), function (value) {
                            return {
                                Hobby: $(value).find('.Hobby').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetupduplicate.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetupduplicate.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();

            },
            onopenmodalcreate: function (t) {
                $('#KategoriID').append(new Option("Dokter Spesialis", "V-009", true, true)).trigger('change');
                $('#SpesialisID').append(new Option("none", "SUB0001", true, true)).trigger('change');
                $(t['Kode_Supplier']).attr("placeholder", "(auto)");
                $(t['Aktif']).prop("checked", true);
                isetupduplicate.init();
            }
        });

        $(isetupduplicate.form['KategoriID']).select2({
            ajax: {
                url: "@Url.Action("Vendor_Vendor_Supplier", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetupduplicate.form['SpesialisID']).select2({
            ajax: {
                url: "@Url.Action("Vendor_Vendor_Spesialis", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetupduplicate.form['SubSpesialisID']).select2({
            ajax: {
                url: "@Url.Action("Vendor_Vendor_SubSpesialis", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) { return { pagesize: 30, pageindex: params.page || 0, filter: params.term, spesialisid: $("#SpesialisID option:selected").val()};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
        isetupduplicate.adddetailbodyKeluarga = (nama, gender, hubungan, tgllahir, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td><input type="text" class="form-control Nama" value="' + nama + '" /></td>';
            _detail += '<td><select class="form-control Gender">@(Html.Raw(HList.Gender))</select></td>';
            _detail += '<td><select class="form-control Hubungan">@(Html.Raw(HList.Hubungan))</select></td>';
            _detail += '<td><input type="date" class="form-control TglLahir" value="' + tgllahir + '" /></td>';

            _detail += '</tr>';
            $(isetupduplicate.form).find('.detailKeluarga tbody').append(_detail);
            const _inputgender = $(isetupduplicate.form).find('tbody tr:last-child .Gender');
            const _inputhubungan = $(isetupduplicate.form).find('tbody tr:last-child .Hubungan');
            $(_inputgender).val(gender);
            $(_inputhubungan).val(hubungan);
        };

        isetupduplicate.adddetailbodyHobby = (hobby, keterangan, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td><select class="form-control Hobby">@(Html.Raw(HList.Hobby))</select></td>';
            _detail += '<td><input type="text" class="form-control Keterangan" value="' + keterangan + '" /></td>';

            _detail += '</tr>';
            $(isetupduplicate.form).find('.detailHobby tbody').append(_detail);
            const _inputgender = $(isetupduplicate.form).find('tbody tr:last-child .Hobby');
            $(_inputgender).val(hobby);
        };
    });


</script>

<script>
    function changesubspespesialis() {
        $("input[name=SubSpesialisID]").change();
    }
</script>