﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Harga Jasa Luar</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="form-group">
                            <label class="col-md-2 control-label">ID Vendor</label>
                            <div class="col-md-10">
                                <input type="text" name="SupplierID" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama Vendor</label>
                            <div class="col-md-10">
                                <input type="text" required name="Nama_Supplier" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Alamat</label>
                            <div class="col-md-10">
                                <input type="text" name="Alamat_1" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Phone</label>
                            <div class="col-md-10">
                                <input type="text" name="No_Telepon_1" class="form-control" maxlength="100" />
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupjasa.openmodal()"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>ID Jasa</td>
                                                <td>Deskripsi</td>
                                                <td>Tipe Pasien</td>
                                                <td>KITAS</td>
                                                <td>Harga</td>
                                                <td>Harga Pokok</td>
                                                <td>Harga Pokok 2</td>
                                                <td>Harga Lama</td>
                                                <td>Tgl Berlaku</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
   
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // value
                    t['SupplierID'].value = r.Data.SupplierID;
                    t['Nama_Supplier'].value = r.Data.Nama_Supplier;
                    t['Alamat_1'].value = r.Data.Alamat_1;
                    t['No_Telepon_1'].value = r.Data.No_Telepon_1;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    isetup.DetailKomponenClave = [];
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.JasaID,
                            value.JasaName,
                            value.TipePasien,
                            value.PasienKTP,
                            value.Harga,
                            value.HargaPokok,
                            value.HargaPokok2,
                            value.HargaLama,
                            value.TglBerlaku,
                        );
                    });
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        SupplierID: t['SupplierID'].value,
                        Nama_Supplier: t['Nama_Supplier'].value,
                        Alamat_1: t['Alamat_1'].value,
                        No_Telepon_1: t['No_Telepon_1'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                JasaID: $(value).data('id'),
                                TipePasien: $(value).find('.tipepasien').val(),
                                PasienKTP: $(value).find('.pasienktp')[0].checked,
                                Harga: getfloatfromcurrency(isetup.DetailKomponenClave.find(x => x.id === $(value).data('id')).harga.getRawValue()),
                                HargaPokok: getfloatfromcurrency(isetup.DetailKomponenClave.find(x => x.id === $(value).data('id')).hargapokok.getRawValue()),
                                HargaPokok2: getfloatfromcurrency(isetup.DetailKomponenClave.find(x => x.id === $(value).data('id')).hargapokok2.getRawValue()),
                                HargaLama: getfloatfromcurrency(isetup.DetailKomponenClave.find(x => x.id === $(value).data('id')).hargalama.getRawValue()),
                                TglBerlaku: $(value).find('.tglberlaku').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('#HargaJasaLuar').removeClass('hidden');
                    $('input[name="SupplierID"]').attr('readonly', true);
                    $('input[name="Nama_Supplier"]').attr('readonly', true);
                    $('input[name="Alamat_1"]').attr('readonly', true);
                    $('input[name="No_Telepon_1"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.DetailKomponenClave = [];

        isetup.adddetailbody = ( jasaid, jasaname, tipepasien, pasienktp, harga, hargapokok, hargapokok2, hargalama, tglberlaku) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + jasaid + '"]').length) {
                alerterror(jasaname + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + jasaid + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customremovedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td>' + jasaid + '</td>';
            _detail += '<td  class="td-text-right" >' + jasaname + '</td>';
            _detail += '<td class="text-center"><select  name="" class="tipepasien clear-create" >'
                    + '<option value="ALL" ' + (tipepasien == 'ALL' ? 'selected' : '')+'>ALL</option>'
                    + '<option value="EXCECUTIVE" ' + (tipepasien == 'EXCECUTIVE' ? 'selected' : '' )+'>EXCECUTIVE</option>'
                    +  '</select></td > ';
            _detail += '<td class="text-center"><input type="checkbox" class="pasienktp" ' + (pasienktp ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="text" class="form-control text-right harga" min="0"  value="' + getcurrencyfromfloat(harga) + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right hargapokok" min="0"  value="' + getcurrencyfromfloat(hargapokok) + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right hargapokok2" min="0"  value="' + getcurrencyfromfloat(hargapokok2) + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right hargalama" min="0"  value="' + getcurrencyfromfloat(hargalama) + '" /></td>';
            _detail += '<td><input type="date" required name="" class="form-control tglberlaku" value="' + tglberlaku + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            $(isetup.form).find('.input-detail tbody tr:last .tipepasien').val();
            isetup.DetailKomponenClave.push({
                id: jasaid,
                harga: new Cleave($(isetup.form).find('tbody tr:last .harga')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                hargapokok: new Cleave($(isetup.form).find('tbody tr:last .hargapokok')[0], {numeral: true, numeralThousandsGroupStyle: 'thousand'}),
                hargapokok2: new Cleave($(isetup.form).find('tbody tr:last .hargapokok2')[0], {numeral: true, numeralThousandsGroupStyle: 'thousand'}),
                hargalama: new Cleave($(isetup.form).find('tbody tr:last .hargalama')[0], {numeral: true, numeralThousandsGroupStyle: 'thousand'}),
            });
        };

        isetup.customremovedetail = (t) => {
            var id = parseInt($(t).closest('tr').data('id'));
            DetailKomponenClave = DetailKomponenClave.filter(x => x.id != id);
            removedetail(t);
            
        }

    });
</script>


@Html.Partial("_LookUpJasa")

