﻿@using Admin.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }

    label.error {
        color: #f44336;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jasa</h4>
            </div>
            <form autocomplete="off" id="formsetupjasa">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">ID</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Id" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama</label>
                                    <div class="col-md-8">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama Internasional</label>
                                    <div class="col-md-8">
                                        <input type="text" required name="NamaInternasional" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Group</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" required onchange="isetup.groupjasaonchange()" name="GroupJasa"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kategori</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" required name="KategoriJasa"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kategori Plafon</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="KategoriPlafon">
                                            @Html.Raw(HList.Jasa_Jasa_KategoriPlafon)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" title="Keterangan di Invoice">Ket. di Invoice</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="KeteranganDiInvoice">
                                            @Html.Raw(HList.Jasa_Jasa_KeteranganDiInvoice)
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Aktif" />
                                            Aktif
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="MengunakanAlatPenunjang" />
                                            Mengunakan Alat Penunjang
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="JasaPaket" />
                                            Paket
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="TarifManual" />
                                            Tarif Manual
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" title="Mapping Pemakaian Alat">Pemakaian Alat</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="MappingPemakaianAlat">
                                            @Html.Raw(HList.Jasa_Jasa_MappingPemakaianAlat)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" title="Kelompok Postingan By">Kel.Postingan By</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="KelompokPostinganBy">
                                            @Html.Raw(HList.Jasa_Jasa_KelompokPostinganBy)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sumber Insentif</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="SumberInsentif">
                                            @Html.Raw(HList.Jasa_Jasa_SumberInsentif)
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="HariRawatInap" />
                                            Hari Rawat Inap
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="MCU" />
                                            MCU
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="AutoSystem" />
                                            Auto System
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="KSO" />
                                            KSO
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="VariableKategoriOperasi" />
                                            Variable Kategori Operasi
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="VariableCito" />
                                            Variable Cito
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="HarusDenganDokterPetugas" />
                                            Harus Dengan Dokter Petugas
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Poliklinik</label>
                                    <div class="col-md-8">
                                        <select class="create-clear" name="Poliklinik">
                                            @Html.Raw(HList.Jasa_Jasa_Poliklinik)
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#HargaUmum" aria-controls="home" role="tab" data-toggle="tab">Harga Umum</a></li>
                                <li role="presentation"><a href="#BHP" aria-controls="profile" role="tab" data-toggle="tab">BHP</a></li>
                                <li role="presentation"><a href="#Section" aria-controls="messages" role="tab" data-toggle="tab">Section</a></li>
                                <li role="presentation"><a href="#DataLAB" aria-controls="settings" role="tab" data-toggle="tab">Data LAB</a></li>
                                <li role="presentation"><a href="#COSTRS" aria-controls="settings" role="tab" data-toggle="tab">COST RS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="HargaUmum">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-xxs table-bordered input-detail detail-HargaUmum">
                                                <thead>
                                                    <tr>
                                                        <td style="min-width: 50px;" class="text-center">
                                                            <a class="view-hide" onclick="isetup.adddetailbody_HargaUmum()"><i class="icon icon-plus2"></i></a>
                                                        </td>
                                                        <td style="min-width: 150px;">Kelas</td>
                                                        <td style="min-width: 150px;">Tipe Pasien</td>
                                                        <td style="min-width: 150px;">Spesialis</td>
                                                        <td>Sub Spesialis</td>
                                                        <td style="min-width: 250px;">Dokter</td>
                                                        <td style="min-width: 150px;" title="Kategori Operasi">Kat. Operasi</td>
                                                        <td>Cito</td>
                                                        <td>KTP</td>
                                                        <td style="min-width: 150px;">Lokasi</td>
                                                        <td>Harga Lama</td>
                                                        <td>Harga Baru</td>
                                                        <td>Harga HC (Lama)</td>
                                                        <td>Harga HC</td>
                                                        <td>Disc HC %</td>
                                                        <td>Tgl Berlaku</td>
                                                        <td>Harga BPJS</td>
                                                        <td>Harga BPJS Lama</td>
                                                        <td>Tgl Berlaku BPJS</td>
                                                        <td>Insentif Detail</td>
                                                        <td>Insentif Komponen</td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="BHP">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered input-detail detail-BHP">
                                                <thead>
                                                    <tr>
                                                        <td style="width:50px;" class="text-center view-hide">
                                                            <a onclick="itablelookupbhp.openmodal()"><i class="icon icon-plus2"></i></a>
                                                        </td>
                                                        <td style="width:100px;">ID</td>
                                                        <td>Deskripsi</td>
                                                        <td class="text-center" style="width:100px;">Satuan</td>
                                                        <td class="text-center" style="width:80px;">Qty</td>
                                                        <td style="width:80px;">Ditagihkan</td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Section">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered input-detail detail-Section">
                                                <thead>
                                                    <tr>
                                                        <td style="width:50px;" class="text-center view-hide">
                                                            <a onclick="isetup.adddetailbody_Section()"><i class="icon icon-plus2"></i></a>
                                                        </td>
                                                        <td>Section</td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="DataLAB">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered input-detail detail-DataLAB">
                                                <thead>
                                                    <tr>
                                                        <td style="width:50px;" class="text-center view-hide">
                                                            <a onclick="isetup.adddetailbody_DataLAB()"><i class="icon icon-plus2"></i></a>
                                                        </td>
                                                        <td>Test</td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="COSTRS">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Cost RS (%)</label>
                                                <div class="col-md-8">
                                                    <input type="number" name="CostRS" class="form-control text-right" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Cost RS (Rp)</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="CostRSRp" class="form-control text-right" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.onproses = true;
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['NamaInternasional'].value = r.Data.NamaInternasional;
                    t['GroupJasa'].value = r.Data.GroupJasa;
                    t['KategoriJasa'].value = r.Data.KategoriJasa;
                    t['KategoriPlafon'].value = r.Data.KategoriPlafon;
                    t['KeteranganDiInvoice'].value = r.Data.KeteranganDiInvoice;
                    t['Aktif'].checked = r.Data.Aktif;
                    t['MengunakanAlatPenunjang'].checked = r.Data.MengunakanAlatPenunjang;
                    t['JasaPaket'].checked = r.Data.JasaPaket;
                    t['TarifManual'].checked = r.Data.TarifManual;
                    t['MappingPemakaianAlat'].value = r.Data.MappingPemakaianAlat;
                    t['KelompokPostinganBy'].value = r.Data.KelompokPostinganBy;
                    t['SumberInsentif'].value = r.Data.SumberInsentif;
                    t['HariRawatInap'].checked = r.Data.HariRawatInap;
                    t['MCU'].checked = r.Data.MCU;
                    t['AutoSystem'].checked = r.Data.AutoSystem;
                    t['KSO'].checked = r.Data.KSO;
                    t['VariableKategoriOperasi'].checked = r.Data.VariableKategoriOperasi;
                    t['VariableCito'].checked = r.Data.VariableCito;
                    t['HarusDenganDokterPetugas'].checked = r.Data.HarusDenganDokterPetugas;
                    t['Poliklinik'].value = r.Data.Poliklinik;
                    t['CostRS'].value = r.Data.CostRS;
                    isetup.clave_CostRSRp.setRawValue(r.Data.CostRSRp);

                    if (r.Data.GroupJasa) {
                        const option = new Option(`${r.Data.GroupJasaNama}`, r.Data.GroupJasa, true, true);
                        $(t['GroupJasa']).append(option);
                    }
                    if (r.Data.KategoriJasa) {
                        const option = new Option(`${r.Data.KategoriJasaNama}`, r.Data.KategoriJasa, true, true);
                        $(t['KategoriJasa']).append(option);
                    }

                    // detail
                    $(t).find('.detail-BHP tbody').html('');
                    $.each(r.DetailBHP, function (index, value) {
                        //adddetailbody_BHP = (id, nama, satuan, qty, ditagihkan)
                        isetup.adddetailbody_BHP(
                            value.Id,
                            value.Nama,
                            value.Satuan,
                            value.Qty,
                            value.Ditagihkan
                        );
                    });
                    $(t).find('.detail-Section tbody').html('');
                    $.each(r.DetailSection, function (index, value) {
                        //isetup.adddetailbody_Section = (id, nama)
                        isetup.adddetailbody_Section(
                            value.Id,
                            value.Nama,
                        );
                    });
                    $(t).find('.detail-DataLAB tbody').html('');
                    $.each(r.DetailDataLAB, function (index, value) {
                        //isetup.adddetailbody_DataLAB = (id, nama)
                        isetup.adddetailbody_DataLAB(
                            value.Id,
                            value.Nama,
                        );
                    });
                    isetup.hargaumum = [];
                    $(t).find('.detail-HargaUmum tbody').html('');
                    $.each(r.DetailHargaUmum, function (index, value) {
                        //isetup.adddetailbody_HargaUmum
                        isetup.adddetailbody_HargaUmum(
                            value.Id,
                            value.Kelas,
                            value.TipePasien,
                            value.Spesialis,
                            value.SubSpesialis,
                            value.Dokter,
                            value.DokterNama,
                            value.KatOperasi,
                            value.Cito,
                            value.KTP,
                            value.Lokasi,
                            value.HargaLama,
                            value.HargaBaru,
                            value.HargaHCLama,
                            value.HargaHC,
                            value.DiscHC,
                            value.TglBerlaku,
                            value.HargaBPJS,
                            value.HargaBPJSLama,
                            value.TglBerlakuBPJS,
                            value.InsentifDetail,
                            value.InsentifKomponen,
                            value.Detail
                        );
                    });
                    

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(isetup.form['Id']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({ backdrop: 'static' });
                    isetup.onproses = false;
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        NamaInternasional: t['NamaInternasional'].value,
                        GroupJasa: t['GroupJasa'].value,
                        KategoriJasa: t['KategoriJasa'].value,
                        KategoriPlafon: t['KategoriPlafon'].value,
                        KeteranganDiInvoice: t['KeteranganDiInvoice'].value,
                        Aktif: t['Aktif'].checked,
                        MengunakanAlatPenunjang: t['MengunakanAlatPenunjang'].checked,
                        JasaPaket: t['JasaPaket'].checked,
                        TarifManual: t['TarifManual'].checked,
                        MappingPemakaianAlat: t['MappingPemakaianAlat'].value,
                        KelompokPostinganBy: t['KelompokPostinganBy'].value,
                        SumberInsentif: t['SumberInsentif'].value,
                        HariRawatInap: t['HariRawatInap'].checked,
                        MCU: t['MCU'].checked,
                        AutoSystem: t['AutoSystem'].checked,
                        KSO: t['KSO'].checked,
                        VariableKategoriOperasi: t['VariableKategoriOperasi'].checked,
                        VariableCito: t['VariableCito'].checked,
                        HarusDenganDokterPetugas: t['HarusDenganDokterPetugas'].checked,
                        Poliklinik: t['Poliklinik'].value,
                        CostRS: t['CostRS'].value,
                        CostRSRp: getfloatfromcurrency(isetup.clave_CostRSRp.getRawValue()),

                        DetailBHP: $.map($(t).find('.detail-BHP tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                                Qty: $(value).find('.Qty').val(),
                                Ditagihkan: $(value).find('.Ditagihkan')[0].checked
                            }
                        }),
                        DetailSection: $.map($(t).find('.detail-Section tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                            }
                        }),
                        DetailDataLAB: $.map($(t).find('.detail-DataLAB tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                            }
                        }),
                        DetailHargaUmum: $.map($(isetup.form).find('.detail-HargaUmum tbody tr'), function (value) {
                            const tempid = $(value).data('tempid');
                            return {
                                Id: $(value).data('id'),
                                Kelas: $(value).find('.Kelas').val(),
                                TipePasien: $(value).find('.TipePasien').val(),
                                Spesialis: $(value).find('.Spesialis').val(),
                                SubSpesialis: $(value).find('.SubSpesialis')[0].checked,
                                Dokter: $(value).find('.Dokter').val(),
                                KatOperasi: $(value).find('.KatOperasi').val(),
                                Cito: $(value).find('.Cito')[0].checked,
                                KTP: $(value).find('.KTP')[0].checked,
                                Lokasi: $(value).find('.Lokasi').val(),
                                HargaLama: getfloatfromcurrency($(value).find('.HargaLama').html()),
                                HargaBaru: getfloatfromcurrency($(value).find('.HargaBaru').html()),
                                HargaHCLama: getfloatfromcurrency($(value).find('.HargaHCLama').html()),
                                HargaHC: getfloatfromcurrency($(value).find('.HargaHC').html()),
                                DiscHC: $(value).find('.DiscHC').val(),
                                TglBerlaku: $(value).find('.TglBerlaku').val(),
                                HargaBPJS: getfloatfromcurrency($(value).find('.HargaBPJS').html()),
                                HargaBPJSLama: getfloatfromcurrency($(value).find('.HargaBPJSLama').html()),
                                TglBerlakuBPJS: $(value).find('.TglBerlakuBPJS').val(),
                                InsentifDetail: parseFloat(isetup.hargaumum.find(x => x.id === tempid).InsentifDetail.getRawValue()),
                                InsentifKomponen: parseFloat(isetup.hargaumum.find(x => x.id === tempid).InsentifKomponen.getRawValue()),
                                Detail: isetup.hargaumum.find(x => x.id === tempid).Komponen.map(x => ({
                                    Id: x.Id,
                                    Nama: x.Nama,
                                    Qty: x.Qty,
                                    UsePersen: x.UsePersen,
                                    Persen: x.Persen,
                                    Insentif: x.Insentif,
                                    IncInsent: x.IncInsent,
                                    HargaAwal: x.HargaAwal,
                                    HargaLama: x.HargaLama,
                                    HargaBaru: x.HargaBaru,
                                    HargaHCLama: x.HargaHCLama,
                                    HargaHC: x.HargaHC,
                                    DiscInsentifHC: x.DiscInsentifHC,
                                    AkunHPP: x.AkunHPP,
                                    AkunLawan: x.AkunLawan,
                                    HargaBPJS: x.HargaBPJS,
                                    HargaBPJSLama: x.HargaBPJSLama,
                                }))
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            beforesubmit: e => {
                //if (!$(isetup.form).valid()) {
                //    e.preventDefault;
                //    alerterror('Data belum lengkap');
                //}
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                isetup.hargaumum = [];
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['KategoriPlafon']).select2();
        $(isetup.form['KeteranganDiInvoice']).select2();
        $(isetup.form['MappingPemakaianAlat']).select2();
        $(isetup.form['KelompokPostinganBy']).select2();
        $(isetup.form['SumberInsentif']).select2();
        $(isetup.form['Poliklinik']).select2();
        $(isetup.form['GroupJasa']).select2({
            ajax: {
                url: "@Url.Action("Jasa_Jasa_GroupJasa", "Select2")",
                dataType: 'json', type: "POST", delay: 250,
                data: function (params) { return { pagesize: 30, pageindex: params.page || 0, filter: params.term }; },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
        $(isetup.form['KategoriJasa']).select2({
            ajax: {
                url: "@Url.Action("Jasa_Jasa_KategoriJasa", "Select2")",
                dataType: 'json', type: "POST", delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                        groupjasa: isetup.form['GroupJasa'].value
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
        isetup.clave_CostRSRp = new Cleave(isetup.form['CostRSRp'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });

        isetup.groupjasaonchange = () => {
            if (isetup.onproses) return;
            isetup.form['KategoriJasa'].value = '';
            $(isetup.form['KategoriJasa']).trigger('change');
        };

        isetup.adddetailbody_BHP = (id, nama, satuan, qty, ditagihkan) => {
            if ($(isetup.form).find('.detail-BHP tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + id + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text text-center">' + satuan + '</td>';
            _detail += '<td><input type="number" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += `<td class="text-center"><input type='checkbox' class="Ditagihkan" ${ditagihkan ? 'checked' : ''} /></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detail-BHP tbody').append(_detail);
        };

        isetup.adddetailbody_Section = (id, nama) => {

            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${id ? `<option value='${id}'>${id} - ${nama}</option>` : ''}</select></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detail-Section tbody').append(_detail);
            $(isetup.form).find('.detail-Section tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("Jasa_Jasa_Section", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.adddetailbody_DataLAB = (id, nama) => {

            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${id ? `<option value='${id}'>${id} - ${nama}</option>` : ''}</select></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detail-DataLAB tbody').append(_detail);
            $(isetup.form).find('.detail-DataLAB tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("Jasa_Jasa_DataLAB", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        initkomponen();
    });
</script>